body {
  background-image:
  url(http://starkovtattoo.spb.ru/images/100/DSC100155608.jpg);
  background-size: cover;
  background-position: center;

}

h1 {
  color: #FFFFFF;
  text-shadow: #FFF 0px 0px 5px, #FFF 0px 0px 10px, #FFF 0px 0px 15px, #FF2D95 0px 0px 20px, #FF2D95 0px 0px 30px, #FF2D95 0px 0px 40px, #FF2D95 0px 0px 50px, #FF2D95 0px 0px 75px;
  font-size: 1000%;

  }

p {
  font-family: "Comic Sans MS", cursive, sans-serif;
  font-size: 28px;
  letter-spacing: -0.6px;
  word-spacing: 1.6px;
  color: #660099;

  font-weight: 700;
  text-decoration: none;
  font-style: italic;
  font-variant: normal;
}

.titulo{
  width:900px;
   height:300px;
}
.explicacion{
  width:900px;
  height:300px;
}

.decode{
    text-decoration: none;
    padding: 10px;
    font-weight: 600;
    font-size: 20px;
    color: #ffffff;
    background-color: #681758;
    border-radius: 6px;
    border: 2px solid #C218A0;
}

#texto{
  font-family: "Comic Sans MS";
  color: #FF80EA;
  border: 10px dotted #FFFF00;
  border-radius: 19px 19px 19px 19px;
  font-size: 150%;
  box-shadow: 2px 2px 7px 1px #FFBF00;
}

#btnInicio{
  text-decoration: none;
  padding: 10px;
  font-weight: 600;
  font-size: 20px;
  color: #ffffff;
  background-color: #D130EE;
  border-radius: 6px;
  border: 2px solid #530D5F;

}

#resuelto{
  font-family: "Comic Sans MS";
  color: #FF80EA;
  border: 10px dotted #FFFF00;
  border-radius: 14px 14px 14px 14px;
  font-size: 150%;
  box-shadow: 2px 2px 7px 1px #FFBF00;
}
#nDesplazamientos{
  border: 10px double rgba(37,247,229,0.82);
border-radius: 14px 14px 0px 14px;
}
